.ant-menu-left {
	flex: 1;
	border-bottom-color: #1D2440;
	background-color: #1D2440;
	font-size: 16px;
	display: flex;
	:global {
		.ant-menu-item {
			padding: 15px 0;
			line-height: 20px;

			> a {
				font-size: 12px;
				font-weight: 500;
				color: #6E7A99;
				padding: 0 16px 0 26px;
				border-right: 1px solid #384466;
			}

			&.active {
				border-bottom: 2px solid #509be6;
				// background-color: rgba(0, 51, 102, 0);
				> a {
					color: #0099FF;
				}
			}
			&:last-child{
				> a{
					border-right: none
				}
			}
		}
		.ant-menu-item-selected {
			border-bottom: 2px solid #509be6;
			background-color: transparent;
			& > a {
				color: #fafcff;
			}
		}
	}
}

.ant-menu-right {
	width: 100px;
	background-color: #1D2440;
	padding: 0 30px;
	:global {
		.ant-menu-item {
			padding: 0;
			font-size: 14px;
			a {
				font-size: 16px;
				font-weight: 500;
				color: #fafcff;
				i {
					font-size: 16px;
					color: #fafcff;
					margin-right: 10px;
				}
			}
			&.ant-menu-item-selected {
				background: none;
			}
		}
	}
	&:global(.ant-menu-dark.ant-menu-horizontal){
		border:none;
	}
}
