@import "../theme";


//左侧菜单样式
.menu-left {
	position: fixed;
	overflow: auto;
	height: calc(100% - 50px);
	left: 0;
	background-color: $main-left-background-color;

	:global {
		.ant-layout-sider-children {
			> .ant-menu {
				padding-top: 21px;
				padding-bottom: 50px;
				//overflow: auto;
			}
			.ant-menu {
				background-color: $main-left-background-color;
				.ant-menu-item {
					& > a {
						color: #6E7A99;
						font-size: 12px;

						text-overflow: ellipsis;
						overflow: hidden;
						white-space: nowrap;
						&:hover {
							color: #4387BF;
						}
					}

				}
				.ant-menu-item-selected {
					background-color: #509be6;
					& > a {
						color: #fafcff;
						&:hover {
							color: #fafcff;
						}
					}
				}
				.ant-menu-submenu-title {
					color: #fafcff;
					font-size: 14px;
					&:hover {
						color: #4387BF;
					}
					i.ant-menu-submenu-arrow {
						&:before {
							background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
						}
						&:after {
							background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
						}
					}

				}
				.ant-menu-submenu-title-active {
					i.ant-menu-submenu-arrow {
						&:before {
							background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
						}
						&:after {
							background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
						}
					}
				}

			}
		}

		.ant-layout-sider-trigger {
			background-color: $main-left-background-color;
		}
	}
}
